@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default;
}

@plugin "daisyui/theme" {
  name: "retro";
  default: true;
  --color-base-100: #f0e5df;
  --color-base-200: #e0d5cf;
  --color-base-300: #c0b7b2;
}
